.vagrant
.bash_completion
.bash_history
.github
.gitlab-ci.yml
.otrs-ci.yml
.weblate
var/tmp
var/article
.lesshst
.mysql_history
Kernel/tmp*
js-cache/
css-cache/
var/log/Daemon/
var/run/
*.zip
.postgres
.pgadmin4
.tmpfs
.config
.pgpass
oradiag_otrs
sqlnet.log
.env
Kernel/Config/Files/ZZZACL.pm
Kernel/Config/Files/ZZZProcessManagement.pm
Kernel/Config/Files/ZZZAAuto.pm
.vscode/
.s3cfg